<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>OnlineShopping</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
  	<description>字符编码过滤器</description>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>com.eshore.filters.EncodeFilter</filter-class>
  	<init-param>
  		<param-name>ENCODING</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
  	<description>登录过滤</description>
  	<filter-name>loginFilter</filter-name>
  	<filter-class>com.eshore.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>loginFilter</filter-name>
  	<url-pattern>/user/*</url-pattern>
  	<url-pattern>/shoppingcart/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<servlet-class>com.eshore.action.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping><servlet>
  	<servlet-name>registerServlet</servlet-name>
  	<servlet-class>com.eshore.action.RegisterServlet</servlet-class>
</servlet>
  <servlet-mapping>
  	<servlet-name>registerServlet</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>userServlet</servlet-name>
  	<servlet-class>com.eshore.action.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userServlet</servlet-name>
  	<url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>shoppingCartServlet</servlet-name>
  	<servlet-class>com.eshore.action.ShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>shoppingCartServlet</servlet-name>
  	<url-pattern>/shoppingcart</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>goodsServlet</servlet-name>
  	<servlet-class>com.eshore.action.GoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>goodsServlet</servlet-name>
  	<url-pattern>/goods</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>orderServlet</servlet-name>
  	<servlet-class>com.eshore.action.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>orderServlet</servlet-name>
  	<url-pattern>/order</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>managerServlet</servlet-name>
  	<servlet-class>com.eshore.action.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>managerServlet</servlet-name>
  	<url-pattern>/manager</url-pattern>
  </servlet-mapping>

</web-app>