html,body {
	width: 100%;
	height: 100%;
	overflow:auto;
}

a:link,a:visited {
	color: #0044DD;
	text-decoration: none;
}

a:hover,a:active {
	color: #FF5500;
	text-decoration: underline;
}

#img-link {
	color: white;
}

input {
	border-color: gray;
	border-style: ridge, inset;
}

#top {
	width: 100%;
	text-align: left;
	font-size: 18px;
	background-color: #f2f2f2;
	padding-bottom: 1px;
	padding-top: 1px;
}

#main {
	padding: 5px;
	width: 83%;
	overflow: auto;
}

th {
	background-color: #edf6ff;
	padding-right: 5px;
}

.submit {
	font-family: "ו";
	font-weight: bold;
	width: 80px;
	height: 25px;
	background-image: url(../image/button.jpg);
	border-style: none;
}

#loginbg {
	width: 30%;
	height: 30%;
	padding-top: 5%;
	padding-left: 2%;
	background-color: #fffebf;
}

span {
	color: red;
	font-family: Arial;
	font-weight: bold;
}

hr {
	color: #ffbb4c;
	size: 10px;
	border-style: solid;
	width: 80%;
}

#title {
	background-color: #c1eae8;
	font-weight: bold;
	padding-left: 5px;
}

#left {
	width: 20%;
	height: 100%;
	float: left;
}

#right {
	width: 80%;
	height: 100%;
	overflow: auto;
}